/* css reset margin & padding */
* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* main */

body {
  height: 100vh;
  width: 100vw;
  max-width: 1020px;

  font-family: "Lato", sans-serif;
  font-weight: 400;

  background-color: lightgrey;
}

.container {
  margin: 0 auto;
}

.header,
.carousel,
.our-services-block {
  padding-left: 40px;
  padding-right: 40px;
}

.header {
  height: 89px;

  font-weight: bold;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #2d303a;

  border-bottom: 6px solid #323746;
}

/* .header-inner {
  display: flex;
  align-items: baseline;
} */

.header h1 {
  /* to more fit layout */
  letter-spacing: -0.5px;
  font-size: 25px;
}

.header h1::after {
  content: "*";
  color: #f06c64;
}

.header nav {
  justify-content: space-between;
  width: 35%;
}

.header nav ul {
  display: flex;

  justify-content: space-around;
}

.header nav li {
  list-style: none;
}

.header nav a {
  letter-spacing: -0.2px;
  line-height: 12px;
  font-size: 12px;
  text-decoration: none;
  color: white;
}

.header nav li::after {
  content: "·";
  padding-right: 15px;
  padding-left: 15px;
  color: #494e62;
}

.header nav li:last-child::after {
  content: "";
}

.header nav li:first-child a {
  color: #f06c64;
}

.header nav a:hover {
  cursor: pointer;
  color: #f06c64;
  transition: color .25s ease-in;
}

/* carousel block */

.carousel {
  height: 594px;

  background-color: #f06c64;

  border-bottom: 6px solid #ea676b;
}

/* our services block */

.our-services-block {
  padding-top: 62px;
  padding-bottom: 62px;

  background-color: #f2f2f2;

  border-bottom: 6px solid white;
}