/* css reset margin & padding */
* {
  margin: 0;
  padding: 0;

  line-height: 1;
}

li {
  list-style: none;
}

fieldset,
input,
textarea,
button {
  border: none;
}

button {
  background-color: initial;
}

/* main */

html {
  font-size: 10px;

  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;

  background-color: #2d303a;
}

.wrapper {
  margin: 0 auto;
  
  box-sizing: border-box;

  overflow: hidden;
}

@media only screen and (min-width: 1020px) {
  .wrapper {
    max-width: 1020px;
    padding: 0 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1019px) {
  .wrapper {
    max-width: 1020px;
    padding: 0 40px;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper {
    min-width: 320px;
    max-width: 768px;
    padding: 0 30px;
  }
}

.wrapper > h2 {
  margin-bottom: 21px;

  font-weight: 900;
  font-size: 3rem;
}

.wrapper h3 {
  font-weight: 900;
  font-size: 1.8rem;
}

.wrapper > p {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 30px;
}

.hidden {
  display: none !important;
}

.disabled {
  pointer-events: none;
}

/* singolo1 */
/* header */

.header {
  position: sticky;
  top: 0;
  z-index: 5;

  padding-top: 31px; /* fit Pixel Perfect */
  padding-bottom: 33px; /* fit Pixel Perfect */

  font-weight: bold;
  text-transform: uppercase;
  color: white;

  background-color: #2d303aC0;
  border-bottom: 6px solid #32374620;

  backdrop-filter: blur(5px);

  transition: padding 0.5s ease-out;
}

.header-inner {
  display: flex;

  justify-content: space-between;
  align-items: baseline;
}

.burger-button-block {
  display: none;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .header {
    padding-top: 24px; /* fit Pixel Perfect */
    padding-bottom: 22px; /* fit Pixel Perfect */

    border: none;
  }

  .header-inner {
    justify-content: center;
  }

  .header-inner.active {
    justify-content: left;
  }

  .burger-button-block {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    padding-top: 24px;
    padding-right: 20px;
    padding-bottom: 22px;
    padding-left: 20px;
    /* 20 * 2 + 25px (padding-left + inner-width + padding-right) */
    height: calc(100% - calc(71px - 25px));
  }

  .burger-button-block__button {
    height: 100%;

    outline: none;
    transition: transform 0.3s ease-in-out;
  }

  .burger-button-block__button.active {
    transform: rotate(-90deg);
  }

  .burger-button-block__dash,
  .burger-button-block__button::before,
  .burger-button-block__button::after {
    display: block;
    width: 25px;
    height: 2.4px;

    border-radius: 5px;

    background-color: white;

    content: "";
  }

  /* 
    .burger-button-block__button::before {
      transform: translateY(-6.4px);
  } */

  .header-inner .burger-button-block .burger-button-block__dash {
    margin-top: 6.4px;
    margin-bottom: 6.4px;
  }

  /* .burger-button-block__button::after {
    transform: translateY(6.4px);
  } */

  .header__logo.active {
    margin-left: 15px; /* 20px (padding-inner-content + 25px (inner-content) - 30px (wrapper's padding) */
    transform: translateX(26px); /* left: 71px - (margin-left) - (wrapper's padding) */
    transition: transform 0.5s ease-out;
  }
}

.burger-button-block,
.burger-button-block__button {
  cursor: pointer;
}

/* modal-window */
.modal-window_except-header {
  z-index: 4;
}

.header__logo {
  z-index: 1;

  text-decoration: none;
  color: inherit;
}

.header h1 {
  /* to more fit layout */
  letter-spacing: -0.5px;
  font-size: 2.5rem;
}

.header h1::after {
  color: #f06c64;

  content: "*";
}

.header__nav ul {
  display: flex;
}

.header__nav li {
  font-size: 1.2rem;

  transition: color 0.4s cubic-bezier(0, 0, 0.2, 1);
}

.header__nav li::after {
  color: #494e62;

  padding-right: 13.5px;
  padding-left: 13.5px;

  content: "·";
}

@media only screen and (max-width: 767px) {
  @keyframes show-menu {
    0% {
      animation-timing-function: ease-out;
      transform: translate3d(-100%, 0px, 0px);
    }
  }

  @keyframes hide-menu {
    100% {
      animation-timing-function: ease-out;
      transform: translate3d(-100%, 0px, 0px);
    }
  }

  .header__nav {
    display: none;

    min-width: 278px;
    height: 100vh;

    padding-top: 24.76vh; /* 232px / 24.76vh */

    background-color: #2D303A;

    box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);

    animation-name: hide-menu;
    animation-duration: 0.5s;
    transition: padding-top 0.4s ease-out;
  }

  .header__nav.active {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    animation-name: show-menu;
  }

  .header__nav ul {
    display: block;
  }

  .header__nav li {
    padding: 1.441vh 0 1.441vh 71px; /* 27px */
    
    font-size: 2.4rem;
    line-height: 2.9rem;

    transition: padding 0.4s ease-out;
  }

  .header__nav li:first-child {
    padding-top: 0;
  }
  .header__nav li:last-child {
    padding-bottom: 0;
  }

  .header__nav li::after {
    display: none;
  }
}

.header__nav a {
  letter-spacing: -0.2px;
  line-height: 12px;
  color: inherit;

  text-decoration: none;
}

.header__nav li:last-child::after {
  display: none;
}

.header__nav li a.active,
.header__nav li a:hover {
  color: #f06c64;
}

.anchor-link {
  position: absolute;

  margin-top: -157px; /* -(headerHeight + sectionPaddingTop) */

  visibility: hidden;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (max-width: 767px) {
  .header__nav li:hover {
    color: #f06c64;

    cursor: pointer;
  }

  .anchor-link {
    margin-top: -133px; /* -(headerHeight + sectionPaddingTop) */
  }
}

/* carousel block */
/* animation */
@keyframes from-left-to-view {
  0% {
    animation-timing-function: linear;
    transform: translate3d(-100%, 0px, 0px);
    opacity: 0;
  }
  20% {
    animation-timing-function: ease-out;
    opacity: 0.2;
  }
  100% {
    animation-timing-function: linear;
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}
@keyframes from-view-to-right {
  0% {
    animation-timing-function: linear;
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  70% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  100% {
    animation-timing-function: linear;
    transform: translate3d(100%, 0px, 0px);
    opacity: 0;
  }
}
@keyframes from-view-to-left {
  0% {
    animation-timing-function: linear;
    transform: translate3d(0, 0px, 0px);
    opacity: 1;
  }
  70% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  100% {
    animation-timing-function: linear;
    transform: translate3d(-100%, 0px, 0px);
    opacity: 0;
  }
}
@keyframes from-right-to-view {
  0% {
    animation-timing-function: linear;
    transform: translate3d(100%, 0px, 0px);
    opacity: 0;
  }
  20% {
    animation-timing-function: ease-out;
    opacity: 0.2;
  }
  100% {
    animation-timing-function: linear;
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}

.animation1 {
  animation: from-left-to-view 1s forwards;
}
.animation2 {
  animation: from-view-to-right 1s forwards;
}
.animation3 {
  animation: from-view-to-left 1s forwards;
}
.animation4 {
  animation: from-right-to-view 1s forwards;
}

.carousel {
  padding-top: 10px;
  padding-bottom: 15px;
}

.carousel div {
  line-height: 0;
}

.carousel.slide-1,
.carousel.slide-2 {
  transition: background-color 1s linear, border 1s linear;
}

.carousel.slide-1 {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.carousel.slide-2 {
  background-color: #648BF0;
  border-bottom: 6px solid #648BF0;
}

@media only screen and (max-width: 767px) {
  .carousel.slide-1 {
    border-bottom: 2.21px solid #ea676b;
  }

  .carousel.slide-2 {
    border-bottom: 2.21px solid #648BF0;
  }
}

.carousel-inner {
  display: flex;
  /* height: 569px; */
  /* height: 420px; */

  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 1020px) {
  .carousel-inner {
    height: 569px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1019px) {
  .carousel-inner {
    /* min-height: 420px;
    max-height: 569px; */
    height: 55.8vw;
  }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
}

@media only screen and (max-width: 374px) {
}

.icon-previous-page,
.icon-next-page {
  padding: 29% 0;

  z-index: 1;

  transition: transform 0.3s ease, opacity 0.2s linear;

  user-select: none;
}

.icon-previous-page {
  margin-left: 2px; /* fit Pixel Perfect */
}

.icon-next-page {
  transform: rotate(180deg);
}

.icon-previous-page:hover,
.icon-next-page:hover {
  background-color: rgba(0, 0, 0, 0.1);

  opacity: 0.5;

  cursor: pointer;
}

.icon-previous-page:hover {
  transform: scale(1.5);
}

.icon-next-page:hover {
  transform: scale(1.5) rotate(180deg);
}

.carousel-content {
  position: relative;
  /* display: flex; */
  width: 100%;
  height: 100%;

  user-select: none;
}

.carousel-content .slides {
  display: flex;
  align-items: center;
  justify-content: center;

}

.slides.slide-1,
.slides.slide-2 {
  position: absolute;
  width: 100%;
  height: inherit;
}

.slides .slides-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides.slide-1 .slides-inner {
  width: 88%;
}

.slides.slide-2 .slides-inner {
  /* width: 55.165%; */
  width: 58.62%;
}

.slides .slides-inner .iphone {
  position: relative;
}

.iphone img {
  width: 100%;
}

.slides .iphone .iphone-off-screen,
.slides .iphone .button-on-screen {
  position: absolute;
}

.slides .iphone .iphone-off-screen.locked {
  background-color: black;
}

.slides .iphone .iphone-off-screen {
  background-color: rgba(0, 0, 0, 0);

  transition: background-color 0.3s ease-in;
}

.slides .iphone .button-on-screen {
  border-radius: 50%;
}

.slides .iphone .button-on-screen:hover {
  background-color: rgba(0, 0, 0, 0.05);

  box-shadow: 0 0 5px 1px black;

  transition: background-color 0.25s linear, box-shadow 0.25s linear;
  cursor: pointer;
}

.slides.slide-2 .iphone-vertical-small {
  /* position: relative; */
  /* position: absolute; */
  /* top: -143px; */

  opacity: 0.5;
}

.slides.slide-2 .iphone-vertical-small:first-child {
  /* left: 100px; */
}

.slides.slide-2 .iphone-vertical-small .iphone-off-screen {
  top: calc(42 * 100% / 314);
  left: calc(9 * 100% / 157);

  width: calc(123 * 100% / 157);
  height: calc(217 * 100% / 314);
}

.slides.slide-2 .iphone-vertical-small .button-on-screen { 
  bottom: calc(23 * 100% / 314);
  left: calc(56 * 100% / 157);

  width: calc(27 * 100% / 157);
  height: calc(27 * 100% / 314);
}

.slides.slide-2 .iphone-vertical .iphone-off-screen {
  top: calc(69 * 100% / 513);
  left: calc(15 * 100% / 255);
  
  width: calc(200 * 100% / 255);
  height: calc(354 * 100% / 513);
}

.slides.slides.slide-2 .iphone-vertical .button-on-screen {
  bottom: calc(37 * 100% / 513);
  left: calc(92 * 100% / 255);

  width: calc(44 * 100% / 255);
  height: calc(44 * 100% / 513);
}

.slides.slide-2 .iphone:first-child {
  left: 25px;
}

.slides.slide-2 .iphone:nth-child(2) {
  top: 5px;
  z-index: 1;

  /* margin-top: 10px; */
  margin-left: -1px;
}

.slides.slide-2 .iphone:last-child {
  left: -26px;
}

@media only screen and (min-width: 1020px) {
  .slides.slide-1 .iphone:first-child {
    margin-right: 73px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1019px) {
  .slides.slide-1 .iphone:first-child {
    margin-right: 54.42px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
}

@media only screen and (max-width: 374px) {
}

/* .slides.slide-1 .iphone-vertical {
} */

.slides.slide-1 .iphone-vertical .iphone-off-screen {
  top: calc(65 * 100% / 483);
  left: calc(14 * 100% / 240);
  
  width: calc(188 * 100% / 240);
  height: calc(333 * 100% / 483);
}

.slides.slide-1 .iphone-vertical .button-on-screen {
  bottom: calc(35 * 100% / 483);
  left: calc(86 * 100% / 240);

  width: calc(42 * 100% / 240);
  height: calc(42 * 100% / 483);
}

.slides.slide-1 .iphone-horizontal {
  margin-right: 1px;
}

.slides.slide-1 .iphone-horizontal .iphone-off-screen {
  top: calc(14 * 100% / 240);
  left: calc(60 * 100% / 484);
  
  width: calc(333 * 100% / 484);
  height: calc(190 * 100% / 240);
}

.slides.slide-1 .iphone-horizontal .button-on-screen {
  bottom: calc(113 * 100% / 240);
  left: calc(8 * 100% / 484);

  width: calc(42 * 100% / 484);
  height: calc(42 * 100% / 240);
}

/* our services block */

.our-services-block {
  padding-top: 62px;
  padding-bottom: 62px;

  background-color: #f2f2f2;
  border-bottom: 6px solid white;
}

@media only screen and (max-width: 767px) {
  .our-services-block {
    border: none;
  }
}

.our-services-block .wrapper > h2 {
  letter-spacing: -0.1px; /* fit Pixel Perfect */
  color: #666d89;
}

.our-services-block .wrapper > p {
  color: #767e9e;
  text-align: justify;
}

.icon-outer {
  display: flex;
  float: left;
  clear: left;
  width: 56px;
  height: 56px;
  margin-top: 2px; /* fit Pixel Perfect */
  margin-right: 22px; /* fit Pixel Perfect */

  justify-content: center;
  align-items: center;

  border: 1.5px solid #666d89;
  border-radius: 50%;
}

.services-list {
  display: flex;
  padding-top: 45px; /* fit Pixel Perfect */

  justify-content: space-between;
  flex-wrap: wrap;
}

.services-item {
  height: 91px;
  overflow: hidden;
}

@media only screen and (min-width: 1020px) {
  .services-item {
    max-width: 300px;
  }

  .services-item:nth-child(-n + 3) {
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1019px) {
  .services-item {
    max-width: calc(50% - 25px);
  }

  .services-item:nth-child(-n + 4) {
    margin-bottom: 55px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  .services-item {
  }
}

@media only screen and (max-width: 374px) {
  .services-item {
  }
}

.our-services-block .services-list .services-item > h3 {
  margin-bottom: 10px;
  letter-spacing: -0.1px;

  color: #666d89;
}

.our-services-block .services-list .services-item > p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 21px;
  color: #767e9e;

  text-align: justify;
  overflow: hidden;
}

/* singolo2 */
/* portfolio block */

.portfolio-block {
  padding-top: 63px;
  padding-bottom: 57px;

  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

@media only screen and (max-width: 767px) {
  .portfolio-block {
    border: none;
  }
}

.portfolio-block .wrapper > h2 {
  letter-spacing: -0.1px;
  color: #666d89;
}

.portfolio-block .wrapper > p {
  margin-bottom: 10px;

  text-align: justify;
  color: #767e9e;
}

.portfolio-block .wrapper > ul {
  display: flex;
  margin-bottom: 19px;
}

.portfolio-block .wrapper > ul > li {
  margin-right: 10px;
  padding: 1px 6px;

  font-size: 1.2rem;
  line-height: 18px;
  color: #767e9e;

  border: 1px solid #666d89;
  border-radius: 5px;

  user-select: none;
}

.portfolio-block .wrapper > ul > li:hover {
  color: #dedede;

  border: 1px solid #c5c5c5;

  cursor: pointer;

  transition: color .25s ease-in, border .25s ease-in;
}

.portfolio-block .wrapper > ul > li.active {
  color: #dedede;

  border: 1px solid #c5c5c5;
}

.portfolio-block .portfolio-list {
  display: flex;

  padding-bottom: 10px;

  flex-wrap: wrap;
}

.portfolio-block .portfolio-list div {
  line-height: 0;
}

.portfolio-block .portfolio-list div img {
  width: 100%;

  line-height: 0;

  cursor: pointer;
}

@media only screen and (min-width: 1020px) {
  .portfolio-block .portfolio-list div {
    margin: 10px;

    flex: 1 0 20%;
  }
  .portfolio-block .portfolio-list div:nth-child(-n + 4) {
    margin-top: 0;
  }
  .portfolio-block .portfolio-list div:nth-child(n + 9) {
    margin-bottom: 0;
  }
  .portfolio-block .portfolio-list div:nth-child(4n) {
    margin-right: 0;
  }
  .portfolio-block .portfolio-list div:nth-child(4n + 1) {
    margin-left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1019px) {
  .portfolio-block .portfolio-list div {
    margin: 10px;

    flex: 1 0 25%;
  }
  .portfolio-block .portfolio-list div:nth-child(-n + 3) {
    margin-top: 0;
  }
  .portfolio-block .portfolio-list div:nth-child(n + 10) {
    margin-bottom: 0;
  }
  .portfolio-block .portfolio-list div:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio-block .portfolio-list div:nth-child(3n + 1) {
    margin-left: 0;
  }
}

.portfolio-block .portfolio-list div:nth-child(n + 13) {
  display: none;
}

.portfolio-block .portfolio-list img.active {
  outline: #F06C64 solid 5px;
  transform: scale(calc(220 / (220 - 5 * 2)));
  transition: transform 0.25s ease, outline 0.3s ease;
}

/* about us block */

.about-us-block {
  padding-top: 62px;
  padding-bottom: 68px;

  background-color: #f2f2f2;
  border-bottom: 6px solid white;
}

@media only screen and (max-width: 767px) {
  .about-us-block {
    border: none;
  }
}

.about-us-block .wrapper > h2 {
  letter-spacing: -0.1px;
  color: #666d89;
}

.about-us-block  .wrapper > p {
  color: #767e9e;
  text-align: justify;
}

.about-us-block .people-list {
  display: flex;
  margin-top: 45px;

  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  overflow: hidden;
}

.about-us-block .people-list > .people-item {
  width: 100%;
}

.about-us-block .people-list > .people-item:first-child {
  margin-left: 0;
}

.about-us-block .people-list > .people-item:last-child {
  margin-right: 0;
}

.about-us-block .people-list > .people-item > img {
  width: 100%;
}

@media only screen and (min-width: 1020px) {
  .about-us-block .people-list > .people-item {
    margin: 0 calc((100% - 3 * 300px) / 4);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1019px) {
  .about-us-block .people-list > .people-item {
    margin: 0 5px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  .about-us-block .people-list {
    flex-wrap: wrap;
  }

  .about-us-block .people-list > .people-item {
    margin-bottom: 20px;
  }
}

.about-us-block .people-list > .people-item > h3 {
  margin-top: 16px;
  margin-bottom: 10px;

  letter-spacing: -0.2px;
  color: #666d89;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.about-us-block .people-list > .people-item > p:first-line {
  letter-spacing: -0.06px; /* это не баг, а фича */
}

.about-us-block .people-list > .people-item > p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 21px;
  color: #767e9e;

  text-align: justify;
}

.about-us-block .people-item > .people-links-list {
  display: flex;
}

@media only screen and (min-width: 1020px) {
  .about-us-block .people-item > .people-links-list {
    margin-top: 23px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1019px) {
  .about-us-block .people-list > .people-item > p {
    min-height: 63px; /* line-height * 3 lines */
  }

  .about-us-block .people-item > .people-links-list {
    margin-top: 10px;
  }
}


.about-us-block .people-item > .people-links-list > li {
  display: flex;
  width: 30px;
  height: 30px;
  margin-left: 1px;
  margin-right: 7px;

  align-items: center;
  justify-content: center;

  border: 1px solid #666d89;
  border-radius: 50%;
}

.about-us-block .people-item > .people-links-list > li:hover {
  background-color: #dedede;

  cursor: pointer;

  transition: background-color .25s ease-in;
}

@media only screen and (min-width: 1020px) {
}

@media only screen and (min-width: 768px) and (max-width: 1019px) {
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  .about-us-block .people-item > .people-links-list {
    margin-top: 10px;
  }
}

/* singolo3 */
/* get quote block */

.quote-block {
  padding-top: 62px;
  padding-bottom: 17px; /* fix bottom Pixel Perfect */

  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

@media only screen and (max-width: 767px) {
  .quote-block {
    border: none;
  }
}

.quote-block .wrapper > h2 {
  letter-spacing: -0.2px;
  color: #f0d8d9;
}

.quote-block  .wrapper > p {
  color: #f0d8d9;
  text-align: justify;
}

.quote-container {
  display: flex;
  margin-bottom: 5px;

  /* justify-content: space-between; */
}

.quote-container .quote-form {
  flex: 1 0 63.9%;
}

@media only screen and (min-width: 1020px) {
  .quote-container {
    margin-top: 44px;
  }

  .quote-container .quote-form {
    margin-right: 21px;

    flex: 1 0 65.9%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1019px) {
  .quote-container {
    margin-top: 27px;
  }

  .quote-container .quote-form {
    margin-right: 29px;

    flex: 1 0 63.9%;
  }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {

}

.quote-container .quote-form > fieldset {
  margin-bottom: 16px;
}

.quote-container .quote-form > fieldset > input,
.quote-container .quote-form > fieldset > textarea {
  display: block; /* fix bottom padding */
  width: calc(100% - 2 * 15px);
  padding: 8px 15px;

  font-size: 1.2rem;
  font-family: inherit;
  color: #f0d8d9;
  caret-color: #f0d8d9;

  background-color: #d6564f;
  border-radius: 5px;
}

.quote-container .quote-form > fieldset > input {
  margin-bottom: 16px;

  line-height: 22px;
}

.quote-container .quote-form > fieldset > input:required:valid {
}

.quote-container .quote-form > fieldset > input:invalid {
  /* box-shadow: 0 0 1px 1px red; */
}

.quote-container .quote-form > fieldset > textarea {
  min-height: 186px;

  line-height: 19px; /* fit Pixel Perfect */

  resize: none;
}

.quote-container .quote-form > fieldset > input::-webkit-input-placeholder,
.quote-container .quote-form > fieldset > textarea::-webkit-input-placeholder {
  color: #f48c8f;
}

.quote-container .quote-form > fieldset > input::-ms-input-placeholder,
.quote-container .quote-form > fieldset > textarea::-ms-input-placeholder {
  color: #f48c8f;
}

.quote-container .quote-form > fieldset > input:-webkit-autofill {
  box-shadow: inset 0 0 0 50px #d6564f;
  -webkit-text-fill-color: #f0d8d9;
}

.quote-container .quote-form > button {
  padding: 8px 15px;

  font-family: inherit;
  color: #f48c8f;

  background-color: #d6564f;
  border-radius: 5px;
}

.quote-container .quote-form > fieldset > input:hover,
.quote-container .quote-form > fieldset > textarea:hover,
.quote-container .quote-form > button:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5), inset 0 0 0 50px #d6564f;
  transition: box-shadow 0.25s ease-in;
}

.quote-container .quote-form > button:hover {
  cursor: pointer;
}

/* modal-window */
.modal-window {
  position: fixed;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal-window_all {
  z-index: 5;
}

@keyframes pop-up {
  0% {
    top: 200px;
    opacity: 0;
    animation-timing-function: ease-out;
  }
  100% {
    top: 0;
    opacity: 1;
    animation-timing-function: ease-out;
  }
}

@keyframes pop-down {
  0% {
    top: 0;
    opacity: 1;
    animation-timing-function: ease-in;
  }
  100% {
    top: 200px;
    opacity: 0;
    animation-timing-function: ease-in;
  }
}

.modal-window .modal-window-wrapper.pop-up {
  animation: pop-up 0.5s forwards, box-shadow 0.25s ease-in;
}

.modal-window .modal-window-wrapper.pop-down {
  animation: pop-down 0.5s forwards, box-shadow 0.25s ease-in;
}

.modal-window .modal-window-wrapper {
  position: relative;

  min-width: 200px;
  max-width: 400px;
  min-height: 100px;
  max-height: 500px;
  padding: 20px;

  font-family: inherit;
  color: #f0d8d9;

  background-color: #d6564f;
  border-radius: 5px;

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5), inset 0 0 0 50px #d6564f;
}

.modal-window .modal-window-wrapper h3 {
  margin-bottom: 10px;

  font-size: 1.8rem;

  text-align: center;
}

.modal-window .modal-window-wrapper h4,
.modal-window .modal-window-wrapper p {
  font-size: 1.5rem;
}

.modal-window .modal-window-wrapper h4 {
  margin-bottom: 5px;
}

.modal-window .modal-window-wrapper p {
  margin-bottom: 15px;

  font-weight: 300;
  text-align: justify;

  overflow: hidden;
  overflow-wrap: break-word;
}

.modal-window .modal-window-wrapper p.subject {
  max-height: 100px;
}

.modal-window .modal-window-wrapper p.description {
  max-height: 300px;
  
  overflow-wrap: break-word;
  overflow-y: scroll;
}

/* styling scrollbar */
.modal-window .modal-window-wrapper p.description::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color:#f0d8d9;
}

.modal-window .modal-window-wrapper p.description::-webkit-scrollbar{
  width: 8px;
}

.modal-window .modal-window-wrapper button {
  padding: 8px 15px;

  font-family: inherit;
  color: #f48c8f;

  background-color: #f0d8d9;;

  border-radius: 5px;
}

.modal-window .modal-window-wrapper button:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);

  background-color: #d6564f;

  cursor: pointer;

  transition: background-color 0.25s ease-in;
}

.quote-container .quote-contact-info {
  display: flex;

  /* flex: 1 0 32.1%; */
  flex-direction: column;
}

.quote-container .quote-contact-info > h3 {
  margin-bottom: 11px; /* fit Pixel Perfect */

  letter-spacing: -0.1px;
  color: #f0d8d9;
}

.quote-container .quote-contact-info > p,
.quote-container .quote-contact-info > span,
.quote-container .quote-contact-info > a {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 21px; /* fit Pixel Perfect */
  color: #f0d8d9;
}

.quote-container .quote-contact-info > p {
  margin-bottom: -1px; /* fit Pixel Perfect */

  text-align: justify;
}

.quote-container .quote-contact-info > span {
  position: relative;

  margin-top: 24px;
  padding-left: 23px;
}

.quote-container .quote-contact-info > a {
  position: relative;

  padding-left: 23px;

  text-decoration: none;
}

.quote-container .quote-contact-info .contact-location::before {
  position: absolute;
  bottom: 5px;
  left: 0px;

  width: 13px;
  height: 11px;

  background: url("assets/location.png") 3px no-repeat;

  content: "";
}

.quote-container .quote-contact-info .contact-phone::before {
  position: absolute;
  bottom: 5px;
  left: 0px;

  width: 13px;
  height: 11px;

  background: url("assets/phone.png") 1px no-repeat;

  content: "";
}

.quote-container .quote-contact-info .contact-email::before {
  position: absolute;
  bottom: 4px;
  left: 0px;

  width: 13px;
  height: 8px;

  background: url("assets/mail.png") no-repeat;

  content: "";
}

/* footer */

.footer {
  padding: 22px 0;

  background-color: #2d303a;
}

.footer .footer-panel {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.footer .footer-panel > span {
  font-size: 1.3rem;
  font-weight: 900;
  color: #666d89;
}

.footer .footer-panel > .footer-socials {
  display: flex;
}

.footer .footer-panel > .footer-socials > li {
  display: flex;
  width: 30px;
  height: 30px;
  margin-left: 8px;

  align-items: center;
  justify-content: center;

  border: 1px solid #666d89;
  border-radius: 50%;
}

.footer .footer-panel > .footer-socials > li:hover {
  background-color: #dedede;

  cursor: pointer;

  transition: background-color .25s ease-in;
}